* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.sgp-bd {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #204d82;
  height: auto;
  padding: 6vh;
  color: #fff;
  border-radius: 2vh;
  box-shadow: 0 0.8rem 1rem #111;
}

form h1 {
  font-size: 6vh;
  font-weight: 500;
  margin-bottom: 2vh;
  text-align: center;
}

label {
  display: block;
  font-size: 2.4vh;
}

form div input {
  outline: none;
  width: 50vh;
  height: 5vh;
  color: #99c1dc;
  padding: 1vh;
  background: none;
  border: none;
  border-bottom: 0.2vh solid #092858;
  margin-bottom: 3vh;
  font-size: 2.5vh;
}

form div input:focus {
  border-bottom: 0.2vh solid #fff;
}

button {
  width: 52vh;
  font-size: 2.5vh;
  background: #2d92d4;
  border: none;
  border-radius: 2vh;
  padding: 2vh;
  transition: background-image 0.1s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #092858;
  transform: scale(1.03);
  animation: 1s alternate;
}

p {
  text-align: center;
  margin-top: 3vh;
  font-size: 2.5vh;
}

p a {
  color: #2d92d4;
}

p a:hover {
  color: #111;
}

span {
  display: block;
  font-size: 2.1vh;
  font-weight: 500;
  margin-bottom: 3vh;
  cursor: default;
}

input[type="checkbox"] {
  width: 2.4vh;
  height: 2.4vh;
}
