{% extends 'Frontend/main.html' %} {% load static %}

<!-- Content  -->
{% block content %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/Frontend/add.css' %}" />

<div class="add-frnds">
  <div class="frnds-srh">
    <label>
      <input type="text" placeholder="Search Friends" />
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </label>
  </div>
  <div class="frnds-lst">
    {% for i in users %}
    <div class="lst-card">
      {% if i.profile_picture %}
      <img src="{{i.profile_picture.url}}" />
      {% else %}
      <img src="{% static 'img/default.png' %}" />
      {% endif %}
      <p>#{{i.username}}</p>
      <div class="rq-1">
        <a href=""><i class="fa-solid fa-user-plus"></i></a>
        <!-- <a href="" class="rq-std"
          ><i class="fa-solid fa-user-plus"></i> requested</a
        > -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
