{% extends 'Frontend/main.html' %} {% load static %}

<!-- Content  -->
{% block content %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/Frontend/add.css' %}" />

<div class="add-frnds">
  <div class="frnds-srh">
    <label>
      <input type="text" placeholder="Search Friends" />
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </label>
  </div>
  <div class="frnds-lst">
    {% for i,j in data %}
    <div class="lst-card">
      {% if i.profile_picture %}
      <img src="{{i.profile_picture.url}}" />
      {% else %}
      <img src="{% static 'img/default.png' %}" />
      {% endif %}
      <div>
        <p>#{{i.username}}</p>
        <p class="abt">{{i.about}}</p>
      </div>
      <div class="rq-1">
        {% if j %}
        <a href="{% url 'cancel-request' i.id %}" class="rq-std"
          ><i class="fa-solid fa-user-plus"></i> requested{{j.status}}</a
        >
        {% else %}
        <a href="{% url 'send-request' id=i.id %}"
          ><i class="fa-solid fa-user-plus"></i
        ></a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
